[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
environ = "*"
requests = "*"
django-environ = "*"
django-crontab = "*"
django-rest-knox = "*"
mysqlclient = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
